<ion-view>
  <ion-nav-buttons side="right"> 
    <button class="button button-clear no-animation" ng-click="goToDashView()">
      Start Eating.
    </button>
  </ion-nav-buttons>
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <div id="logo">
        <img src="img/intro1.png" style="width: 30%; height: 30%;">
      </div>
      <h3>Thank you for testing Eat.</h3>
      <br/>
      <p>
        Currently still testing, you may find
      </p>
      <p>
        a couple of worms in this apple!
      </p>
      <p>
        Don't worry though, we're working hard
      </p>
      <p>
        to bring you the best experience possible :)
      </p>
      <br/>
      <p>
        In the mean time, get ready to
      </p>
      <p>
        discover, decide, and devour 
      </p>
      <p>
        some of the best bites in town! 
      </p>
    </ion-slide>
    <ion-slide>
      <h3>Using Eat.</h3>
      <br/>
      <p>
        1. Swipe right for the next restaurant 
      </p>
      <p>
        reccomendation
      </p>
      <p>
        (or any other direction)
      </p>
      <div style="margin-top: 40px;">
        <div>
          <img src="img/intro2.png" style="height: 60%; width: 60%;">
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <p>
        2. Find more info on a 
      </p>
      <p>
        restaurant you like by hitting 
      </p>
      <div style="margin: 40px 0;">
        <div>
          <img src="img/intro3.png">
        </div>
        <div>
          <i class="icon ion-ios-information-outline" style="font-size: 80px;"></i>
        </div>
      </div>
      <p>
        (located at the bottom of each card!)
      </p>
    </ion-slide>
    <ion-slide>
      <p>
        3. Once in, favorite restaurants by tapping 
      </p>
      <div style="margin: 20px 0;">
        <img src="img/intro4.png" style="height: 70%; width: 70%;">
      </div>
      <p>
        To access your favorites list... 
      </p>
      <p>
        go to your home page!
      </p>
    </ion-slide>
  </ion-slide-box>
</ion-view>