<ion-view>
  	<ion-content class="padding">
	    <div>
		    <div style="text-align:center;">   
                <h2>
                    Surprise Me
                </h2>
                <button class="button button-block button-energized" ng-click="doSubmit()">
				  All Cuisines
				</button>
                <br/>
                <h4>
                    Location
                </h4>
                <div>
                    <input type="text" name="location" placeholder="Current Location"> 
                </div>
		    </div>
		</div>
  	</ion-content>
</ion-view>
