<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget 
  id="com.ionicframework.myapp624833" 
  version="0.0.1" 
  xmlns="http://www.w3.org/ns/widgets" 
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  >

  <name>Eat</name>
  
  <description>
    Eat - Personal assistant food application.
  </description>
  
  <author email="alex44nguyen@gmail.com" href="http://alexandernguyen.gamehub.ca/">
    Alexander Nguyen
  </author>
  
  <content src="index.html"/>

  <access origin="http://www.gamehub.ca" />
  <access origin="*"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>

</widget>